@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject UserManager<ApplicationUser> UserManager;
@model MessageVM
@{
    ViewData["Title"] = "Messages";
    string currentUser = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

<h2>Messages</h2>

<div class="row">
    <div class="col-12 mb-3">
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Topic</label>
                <input asp-for="Message.Topic" type="Topic" class="form-control">
                <span asp-validation-for="Message.Topic" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Text</label>
                <textarea asp-for="Message.Text" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Message.Text" class="text-danger"></span>
            </div>

            @if (Model.Message.MessageId == 0)
            {
                <button asp-action="Index" type="submit" class="btn btn-primary">Submit</button>
            }
            else
            {
                <input asp-for="Message.MessageId" type="hidden">
                <input asp-for="Message.UserId" type="hidden">
                <button asp-action="Edit" asp-route-id="@Model.Message.MessageId" type="submit" class="btn btn-success">Edit</button>
            }
        </form>
    </div>
    <hr />

    <div class="col-12">
        @foreach (var message in Model.Messages)
        {            
            <div class="card mb-2" style="width: 500px;">
                <div class="card-body">
                    <h5 class="card-title">@message.Topic</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@UserManager.FindByIdAsync(message.UserId).Result.FirstName @UserManager.FindByIdAsync(message.UserId).Result.LastName</h6>
                    <p class="card-text">@message.Text</p>

                    <!-- Message buttons -->
                    <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#collapseMessage-@message.MessageId">Reply</button>
                    @if (currentUser == UserManager.FindByIdAsync(message.UserId).Result.Id)
                    {
                        <a asp-action="Index" asp-route-id="@message.MessageId" class="btn btn-success btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@message.MessageId" class="btn btn-danger btn-sm">Delete</a>
                    }
                    
                    <!-- Reply form -->
                    <div class="collapse" id="collapseMessage-@message.MessageId">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="mb-3 mt-1">
                                <label class="form-label">Text</label>
                                <textarea asp-for="MessageReply.Text" class="form-control" rows="3"></textarea>
                                <input asp-for="MessageReply.MessageId" value="@message.MessageId" type="hidden">
                            </div>

                            <button asp-action="Index" asp-controller="MessageReply" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                    <!-- Replies -->
                    @foreach (var reply in Model.MessageReplies.Where(mr => mr.MessageId == message.MessageId))
                    {
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">@UserManager.FindByIdAsync(reply.UserId).Result.FirstName @UserManager.FindByIdAsync(reply.UserId).Result.LastName</h6>
                            <p class="card-text">
                                @reply.Text
                                @if (currentUser == UserManager.FindByIdAsync(reply.UserId).Result.Id)
                                {
                                    <a asp-action="Delete" asp-controller="MessageReply" asp-route-id="@reply.MessageReplyId" class="text-danger fw-bold text-decoration-none ms-5">Delete</a>
                                }
                            </p>                            
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>